html {
} 

body {
	padding: 10px;
}


p, h1, h2, h3, h4, h5, h6, label {
	color: white;
}

.pressed {
	transform: scale(0.9);
}


.button-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0!important;
	padding: 0!important;
}

.blockBox {
	padding: 0;
	display: inline-block;
}

.bg-dark {
	background-color: #2d2d2d!important;
}

.btn-secondary {
	background-color: #232323!important;
}

.action-button {
	height: 100%;
	width: 100%;
	padding: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.btn:hover {
	background-color: #232323!important;
}

.btn:active {
	outline: none!important;
	box-shadow: none!important;
}

.btn:focus {
	outline: none!important;
	box-shadow: none!important;
}

.button-container {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.label {
	height: 100%;
	width: 100%;
	padding: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 1.0rem;
}
