html {
} 

body {
	padding: 10px;
}


p, h1, h2, h3, h4, h5, h6, label {
	color: white;
}

.pressed {
	transform: scale(0.9);
}

.button-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0!important;
	padding: 0!important;
}

.blockBox {
	padding: 0;
	display: inline-block
}

.bg-dark {
	background-color: #2d2d2d!important;
}

.btn-secondary {
	background-color: #232323!important;
}

.action-button {
	height: 100%;
	width: 100%;
	padding: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.btn:hover {
	background-color: #232323!important;
}

.btn:active {
	outline: none!important;
	box-shadow: none!important;
}

.btn:focus {
	outline: none!important;
	box-shadow: none!important;
}

.button-container {
	margin: auto;
	position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.connect-container {
	margin: auto;
	height: auto;
}

.recent-connection-item {
	background-color: #353535;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border: 1px solid rgb(90, 90, 90);
	border-left: 4px solid rgb(31, 95, 161);
	border-radius: 6px;
	max-width: 600px;
	margin: auto;
}

.recent-connection-item:hover {
	background-color: #454545;
	cursor: pointer;
}

.form-connect {
  width: 100%;
  max-width: 390px;
  padding: 0;
  margin: 0 auto;
}
.form-connect .checkbox {
  font-weight: 400;
}
.form-connect .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-connect .form-control:focus {
  z-index: 2;
}


.label {
	height: 100%;
	width: 100%;
	padding: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 1.0rem;
}

.loader-container {
	height: 100%;
	width: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(6px);
}

.button-done {
	background-color: #007bff;
	-webkit-animation: fadeOut;
    animation: fadeOut;
    opacity: 0;
	-webkit-animation-duration: 3s;
    animation-duration: 3s
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

